.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    /* align-items: center;
    justify-content: center; */

}

.myProject {
  display: grid;   
    background-image: linear-gradient(to bottom right, blue, dodgerblue);
    height: 100%;
    color: white;        
    font-size: 100px;    
    justify-content: center;
    align-content: center;
}
