h1{
  width: 320px;  
  margin: auto;
  margin-top: 20px;
}

.colorContainer{  
  width: 104px;
  margin: auto;
  margin-top: 20px;
  /* margin-left: 120px; */
}

h2{
  width: 320px;  
  margin: auto;
  margin-top: 20px;
}

h3{
  width: 420px;
  margin: auto;
  margin-top: 20px;
}

button{
  /* width: 320px;   */
  /* background-color: blue; */
  margin-left: 564px;
  margin-top: 20px;
}

